.editor {
    .page {
        margin-left: 20px;
    }
    .ingredient {
        border: 1px transparent dashed;

        position: relative;
        .element-btns {
            position: absolute;
            top: 15px;
            right: 15px;
            opacity: 0;
            transition: opacity 250ms;

            display: flex;
            align-items: flex-start;
        }

        .add-btns {
            display: flex;
            flex-direction: column;

            button {
                opacity: 0;
                display: none;
            }

            &:hover {
                button {
                    display: inline-block;
                    opacity: 1;
                }
            }
        }

        &:hover {
            border: 1px #333 dashed;
            & > .element-btns {
                opacity: 1;
            }
        }
    }
    
    
}

@media print {
    button, .btn, .add-btns {
        display: none !important;
    }

    .editor-element::after {
        display: none;
    }

    .editor .page {
        margin: 0;
    }
}