.page {
  background-color: rgba(212, 186, 156, 0.75);
  margin: 20px auto 70px auto;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.5);
  height: 11in;
  width: 8.5in;
  box-sizing: border-box;
  padding: 15px;
  position: relative;
}

@media print {
  .page {
    border: none;
    box-shadow: none;
    margin: 0;
  }
}
